name: GitHub Actions Manually
on: [workflow_dispatch]
jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: abhi1693/setup-browser@v0.3.4
        with:
          browser: chrome
          version: 1036745
      - run: chrome --version

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v1
        with:
           node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npx wdio run test/wdio.conf.ts