name: GitHub Actions Manually
on: [workflow_dispatch]
jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install chrome browser
      - uses: browser-actions/setup-chrome@latest
      - name: Install node
        uses: actions/setup-node@v1
        with:
           node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Test
        run: npx wdio run test/wdio.conf.ts