name: GitHub Actions After Push Into Develop Branch
on:
  push:
    branches:
      - develop
jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Install node
        uses: actions/setup-node@v1
        with:
           node-version: '18'

      - name: Install Chrome
      - uses: browser-actions/setup-chrome@latest

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npx wdio run test/wdio.conf.ts